.item {
  color: #000000;
  border: 0px solid #000;
  border-radius: 20px;
  box-shadow: 5px 4px 10px 0px #000;
  background-color: lightskyblue;
  width: 800px;
  height: 100px;
}
.center {
  margin-top: 200px;
}

h2 {
  margin-left: 530px;
}

.position {
  display: flex;
  align-content: center;
  justify-content: center;
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

input {
  min-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 5px;
  margin: 0 10px 15px;
  border: none;
  border-radius: 10px;
}

.arrowIcon {
  margin-left: 550px;
  font-size: 2em;
  color: white;
}
.searchIcon {
  font-size: 20px;
  color: white;
  background: transparent;
  border: 0;
}

.searchCity {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputIsNotValid {
  box-shadow: 0px 0px 5px 0px rgba(42, 42, 42, 0.75);
  border-style: solid;
  border-color: #ff0000;
  border-width: 1px;
  background-color: #ffdede;
}
.inputIsValid {
  box-shadow: 0px 0px 5px 0px rgba(42, 42, 42, 0.75);
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  background-color: #ffffff;
}

.trashIcon {
  font-size: 20px;
  color: white;
  background: transparent;
  border: 0;
  margin-left: 10px;
}
.citiesList {
  display: flex;
  flex-direction: column;
}
.searchPosition {
  display: flex;
}

.citiesPosition {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.headerPosition {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
