* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./Images/world.jpg);
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  height: 100vh;
  background-color: #000a19;
  color: #fff;
}
